{{! 
   
    <title>Siara app</title>
  </head>
  <body>
    <div class="chat-container">
      <header class="chat-header">
        <h1><i class="fas fa-smile"></i> Siara App</h1>
        <a id="leave-btn" class="btn">Leave Room</a>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3><i class="fas fa-comments"></i> Room Name:</h3>
          <h2 id="room-name"></h2>
          <h3><i class="fas fa-users"></i> Users</h3>
          <ul id="users"></ul>
        </div>
        <div class="chat-messages"></div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div> }}

<main class="msger-chat">
  <div class="container">
    <div class="msg left-chat">
      <d  iv class="msg_time_img">
        <img src="/images/image.png" alt="" class="img_info-left" />
        <div class="msg-info-time">12:45</div>
      </d>

      <div class="msg-left">
        <span class="msg-info-name">BOT</span>
        <p class="left-text">
          Hi, welcome to SimpleChat! Go ahead and send me a message. 😄 lorem
        </p>
      </div>

    </div>

   <div class=" right-chat">
      <div class="msg_time_img">
        <img src="/images/image.png" alt="" class="img_info-right" />
        <div class="msg-info-time">12:45</div>
      </div>

      <div class="msg-right">
        <span class="msg-info-name">BOT</span>
        <p class="right-text">
          Hi, welcome to SimpleChat! Go ahead and send me a message. 😄 lore
        </p>
      </div>

    </div>

  </div>

</main>


  <div class="form">
    <form class="inputarea" content="width=device-width">
      <input
        type="text"
        class="msger-input"
        placeholder="Enter your message..."
      />
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </div>
